@model SchoolTime.Models.tblMinor

@{
    ViewBag.Title = "Details";
}

<h2>สาขาวิชา</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("หลักสูตร")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMajor.MajorName)
        </dd>

        <dt>
            @Html.DisplayName("รหัสสาขาวิขา")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorCode)
        </dd>

        <dt>
            @Html.DisplayName("ชื่อสาขาวิขา")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorName)
        </dd>

        <dt>
            @Html.DisplayName("รายละเอียดสาขาวิขา")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinorDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MinorID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-info" })
</p>
