@model IEnumerable<SchoolTime.Models.tblTeacher>

@{
    ViewBag.Title = "รายชื่ออาจารย์";
}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script src="~/Scripts/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables/dataTables.bootstrap.js"></script>

<h2>รายชื่ออาจารย์</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-warning" })
</p>
<table class="table table-striped " id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("หลักสูตร")
            </th>
            <th>
                @Html.DisplayName("รหัสอาจารย์")
            </th>
            <th>
                @Html.DisplayName("ชื่อ - สกุล")
            </th>
            <th>
                @Html.DisplayName("ความชำนาญ")
            </th>
            <th>
                @Html.DisplayName("เบอร์โทรศัพท์")
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblMajor.MajorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teachCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td style="text-align: right">
                @Html.ActionLink("Edit", "Edit", new { id = item.teachID }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.teachID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.teachID }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>