@model SchoolTime.Models.tblUser

@{
    ViewBag.Title = "ข้อมูลผู้ใช้";
}

<h2>ข้อมูลผู้ใช้</h2>
<hr />

    <h3>คุณต้องการลบข้อมูลใช่ หรือไม่ ?</h3>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Username")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
   
            <dt>
                @Html.DisplayName("หมายเหตุ")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-info" })
            </div>
        }
    </div>
