@model SchoolTime.Models.tblMajor


@{
    ViewBag.Title = "หลักสูตร";
}

<h2>หลักสูตร</h2>
<hr />

<h3>คุณต้องการลบข้อมูลใช่ หรือไม่ ?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("รหัสหลักสูตร")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorCode)
        </dd>

        <dt>
            @Html.DisplayName("ชื่อหลักสูตร")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorName)
        </dd>

        <dt>
            @Html.DisplayName("รายละเอียดหลักสูตร")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorDetail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-info" })
        </div>
    }
</div>
