@model IEnumerable<SchoolTime.Models.tblMajor>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script src="~/Scripts/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables/dataTables.bootstrap.js"></script>

<h2>หลักสูตร</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { },new { @class = "btn btn-warning" })
</p>
<table class="table table-striped " id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("รหัสหลักสูตร")
            </th>
            <th>
                @Html.DisplayName("ชื่อหลักสูตร")
            </th>
            <th>
                @Html.DisplayName("รายละเอียดหลักสูตร")
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorDetail)
            </td>
            <td style="text-align: right">
                @Html.ActionLink("Edit", "Edit", new { id = item.MajorID }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.MajorID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MajorID }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>