@model SchoolTime.Models.tblSuject

@{
    ViewBag.Title = "รายชื่อวิชา";
}

<h2>รายชื่อวิชา</h2>
<hr />
<div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("รหัสรายชื่อวิชา :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SujectCode)
                </dd>

                <dt>
                    @Html.DisplayName("ชื่อรายชื่อวิชา :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SujectName)
                </dd>

                <dt>
                    @Html.DisplayName("รายละเอียดวิชา :")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SujectDetail)
                </dd>

            </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SujectID },new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-info" })
</p>
